<h1>Listing passes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Event</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passes.each do |pass| %>
      <tr>
        <td><%= pass.event.details %></td>
        <td><%= pass.quantity %></td>
        <td><%= link_to 'Show', pass %></td>
        <td><%= link_to 'Edit', edit_pass_path(pass) %></td>
        <td><%= link_to 'Destroy', pass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

