<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Club:</strong>
  <%= @event.club_id %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @event.theme %>
</p>

<p>
  <strong>Info:</strong>
  <%= @event.info %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
